body {
  font-family: "Montserrat", sans-serif;
}
.page-wrap {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #171717;
  padding-bottom: 238px;
  color: #fff;
}

.container {
  padding: 0 12%;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.call-phone {
  color: #fff;
  margin-right: 40px;
  text-decoration: none;
}
.call-phone-color {
  color: #d6af76;
}
.btn {
  color: #e4b564;
  border: 1px solid #e4b564;
  display: inline-flex;
  text-decoration: none;
}
.btn-callback {
  padding: 10px 25px;
  font-size: 18px;
  line-height: 30px;
}
.btn-callback::before {
  content: url(../icons/call-phone.svg);
  margin-right: 8px;
}
.section-title {
  font-size: 50px;
  line-height: 28px;
  font-weight: 700;
}
.section-desc {
  font-size: 20px;
  line-height: 28px;
  max-width: 1182px;
  margin: 40px 0;
  font-weight: 700;
}

.section-worklist {
  padding-top: 80px;
  color: #fff;
}
.worklist-wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  gap: 30px;
  text-align: center;
}
.worklist-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 44px;
}
.worklist-item p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.worklist-item:nth-child(1) {
  background-color: rgb(99 79 44 / 76%);
  grid-area: 1 / 1 / 2 / 3;
}
.worklist-item:nth-child(2) {
  background-color: rgb(180 163 133 / 76%);
  grid-area: 1 / 3 / 2 / 5;
}
.worklist-item:nth-child(3) {
  background-color: rgb(228 181 100 / 76%);
  grid-area: 1 / 5 / 2 / 7;
}
.worklist-item:nth-child(4) {
  background-color: rgb(99 90 74 / 76%);
  grid-area: 2 / 1 / 3 / 4;
}
.worklist-item:nth-child(5) {
  background-color: rgb(176 140 77 / 76%);
  grid-area: 2 / 4 / 3 / 7;
}

.section-car-park {
  margin-top: 160px;
}
.car-park-items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 94px;
}
.car-park-item {
  background-color: aliceblue;
  margin-bottom: 25px;
  padding-top: 44px;
  padding-left: 52px;
  box-sizing: border-box;
}
.car-park-item p {
  font-size: 20px;
  line-height: 25px;
}

.car-park-item:last-child {
  margin-bottom: 0;
}
.car-park-items-column {
  width: 467px;
}

.car-park-items-column:nth-child(1) .car-park-item:first-child {
  min-height: 313px;
  background-color: #0e0e0e;
}
.car-park-items-column:nth-child(1) .car-park-item:last-child {
  min-height: 560px;
  background-color: #1f1f1f;
}
.car-park-items-column:nth-child(2) .car-park-item:first-child {
  min-height: 439px;
  background-color: #242424;
}
.car-park-items-column:nth-child(2) .car-park-item:last-child {
  min-height: 405px;
  background-color: #e4b564;
  color: #000;
}
.car-park-items-column:nth-child(3) .car-park-item:nth-child(1) {
  min-height: 255px;
  background-color: #1f1f1f;
}
.car-park-items-column:nth-child(3) .car-park-item:nth-child(2) {
  min-height: 313px;
  background-color: #0e0e0e;
}
.car-park-items-column:nth-child(3) .car-park-item:nth-child(3) {
  min-height: 277px;
  background-color: #0a0909;
}

.section-clients {
  margin-top: 190px;
  padding-top: 160px;
  background-color: #0e0e0e;
}
.section-clients-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-all-project {
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px;
}
.clients-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 391px);
  margin-top: 60px;
}
.clients-item {
  display: grid;
  align-items: center;
  text-align: center;
}

.clients-item:nth-child(1),
.clients-item:nth-child(6) {
  background-color: rgb(99 79 44);
}
.clients-item:nth-child(2) {
  background-color: rgb(232 210 171 / 76%);
  padding: 60px 0;
}
.clients-item:nth-child(3) {
  background-color: rgb(228 181 100 / 76%);
}
.clients-item:nth-child(4) {
  background-color: rgb(99 90 74 / 76%);
}
.clients-item:nth-child(5) {
  background-color: rgb(176 140 77 / 76%);
}
.clients-item-desc {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
.clients-item-desc span {
  font-weight: 400;
}
.bold {
  font-weight: bold;
}

.section-worklist-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg/section-worklist-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.section-clients-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg/section-clients-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.btn:hover {
  color: #fff;
  background-color: #e4b564;
}
